* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1250px;
  height: 1024px;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(150deg, #233458 13.36%, #111827 98.15%);
}

.container {
  display: flex;
  width: 700px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3);
  margin: 50px 320px;
  border-radius: 8px 8px 0px 0px;
  background-color: rgba(27, 27, 27, 0.9);
  padding: 50px;
}

.head {
  display: flex;
  gap: 50px;
}

.judul {
  font-family: "Source Sans 3", sans-serif;
}

p.info-judul {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.judul-desk {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.garis {
  width: 400px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 0px 10px 10px 0px;
  background: #424242;
  margin-top: 25px;
}

.sisa-garis {
  width: 200px;
  height: 4px;
  border-radius: 0px 10px 10px 0px;
  /*	background: #424242;*/
  border-radius: 10px 0px 0px 10px;
  background-color: #71c6ff;
}

.time-garis {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: "Source Sans 3", sans-serif;
  margin-bottom: 25px;
}

.icon-head {
  display: flex;
  justify-content: space-between;
}

.pause {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #fff;
}

.playlist {
  /*	background-color: red;*/
}

.judul-playlist {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.6px;
}

.list-playlist {
  display: flex;
  width: 600px;
  align-items: center;
  margin-top: 30px;
}

.desk-playlist {
  margin-left: 20px;
  /* width: 100%; */
}

h1.playlist {
  color: #fff;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h1.playlist-angkot {
  font-family: "Source Sans 3", sans-serif;
  color: #71c6ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 175px;
  display: flex;
  align-items: center;
  gap: 8px;
}

p.playlist {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.time-playlist {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 400px;
}

.angkot{
	/* font-size: 100px ; */
	/* margin-left: -70px; */
}

.garis-playlist {
  width: 600px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 25px 0;
}
